.footer {
    padding: 0px 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 12%;
}

.footer .social {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    gap: 10px;
}

.footer .social img:hover {
    transform: scale(1.2);
}

.footer .social ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}

.footer .social ul li {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}

.footer .social ul li a img {
    width: 50px;
    height: 50px;
}

.footer .social ul li:last-child {
    border-width: 2px;
    border-style: solid;
}

.footer .social ul li:last-child a img {
    width: 48px;
    height: 48px;
}