.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 78%;
    padding: 0px 10px;
}

.main .img-container {
    width: 40%;
    display: flex;
    justify-content: center;
    height: auto;
}

.main .img-container img {
    width: 600px;
    height: 700px;
}

.main .text-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.main .text-container .text {
    width: 80%;
    text-align: center;
}

.main .text-container .text-sections {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.text-sections .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    gap: 12px;
    padding: 20px 15px;
    border-radius: 20px;
}

.text-sections .section p {
    text-align: center;
}