<html lang="es">
    <head>
        <link rel="stylesheet" href="/public/css/colors.css">
        <link rel="stylesheet" href="/public/css/fonts.css">
        <link rel="stylesheet" href="/public/css/footer.css">
        <link rel="stylesheet" href="/public/css/header.css">
        <link rel="stylesheet" href="/public/css/contacto.css">
        <link rel="stylesheet" href="/public/css/reset.css">

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contacto</title>
    </head>

    <body>
        <header class="header bg-black text-white">
            <h1 class="jomolhari regular-20">LA GATA MANGIONA</h1>
            <nav>
                <ul>
                    <li><a class="jomolhari regular-20 text-white" href="/app/views/index.html">Inicio</a></li>
                    <li><a class="jomolhari regular-20 text-white" href="">Menu</a></li>
                    <li><a class="jomolhari regular-20 text-white" href="/app/views/sobre-nosotros.html">Sobre nosotros</a></li>
                    <li><a class="jomolhari regular-20 text-white" href=""><img
                            src="../../public/icons/cart-shopping-fast.png" alt="Icono de carrito-compra"></a></li>
                </ul>
            </nav>
        </header>

        <main class="main bg-almendra-suave"> 
            <div class="text-container">
                <h1 class="inter regular-56">Trovaci a</h1>
                <div class="sections-container">
                    <div class="sections bg-almendra-suave">
                        <img class="icon" src="/public/icons/icon-reloj.png" alt="Icono reloj">
                        <div class="section-text-container inter medium-32">
                            <p>Martes a domingo</p>
                            <p>10:00 a.m. a 22:00 p.m.</p>
                        </div>
                    </div>
                    <div class="sections bg-almendra-suave">
                        <img class="icon" src="/public/icons/icon-call.png" alt="Icono llamada">
                        <div class="section-text-container inter medium-32">
                            <p>330 000 0000</p>
                        </div>
                    </div>
                    <div class="sections bg-almendra-suave">
                        <img class="icon" src="/public/icons/icon-ubicacion.png" alt="Icono ubicacion">
                        <div class="section-text-container inter medium-32">
                            <p>Av.Hidalgo #456, Colonia Americana, Guadalajara, Jalisco</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="img-container">
                <a href="https://www.google.com/maps/dir/?api=1&origin=My+Location&destination=Av.+Hidalgo+456,+Colonia+Americana,+Guadalajara,+Jalisco" target="_blank">
                    <img src="/public/img/mapa.png" alt="Imagen del mapa">
                </a>
            </div>
        </main>

        <footer class="footer bg-black">
        <p class="inter light-16 text-white">Derechos Reservados ©Checon’t - 2025 ®</p>
        <nav class="social">
            <ul>
                <li><a href="https://www.facebook.com"><img src="../../public/icons/icon-facebook.png"
                            alt="Link facebook"></a>
                </li>
                <li><a href="https://www.instagram.com"><img src="../../public/icons/icon-instagram.png"
                            alt="Link instagram"></a>
                </li>
                <li class="border-white"><a href="https://www.x.com"><img src="../../public/icons/icon-x.png"
                            alt="Link x"></a>
                </li>
            </ul>
        </nav>
    </footer>
    </body>
</html>