<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>La Gata Mangiona</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/public/css/index.css">
        <link rel="stylesheet" href="/public/css/fonts.css">
        <link rel="stylesheet" href="/public/css/footer.css">
        <link rel="stylesheet" href="/public/css/colors.css">
    </head>
    <body>
        <div class="principal-container-A">
            <div class="quote-container bg-black">
                <header>
                    <p class="quote-text text-white jacques-francois italic">La vita è una</p>
                    <p class="quote-text text-white jacques-francois italic">combinazione</p>
                    <p class="quote-text text-white jacques-francois italic">di magia e</p> 
                    <p class="quote-text text-white jacques-francois italic">pizza</p>
                    <p class="quote-author text-white jacques-francois italic">- Federico Fellini</p>
                </header>
            </div>
            <div class="pizza-container bg-black"></div>
            <div class="logotipo"></div>
        </div>
            <main class="menu">
                <nav class="menu">
                    <ul class="bg-almendra-suave">
                        <li class="bg-almendra-suave">
                            <div class="icon text-canela-tostada"><i class="fa-solid fa-location-dot"></i></div>
                            <div class="text">Ubicación</div>
                        </li>
                        <li class="bg-almendra-suave">
                            <div class="icon text-canela-tostada"><i class="fa-solid fa-pizza-slice"></i></div>
                            <div class="text">Menú</div>
                        </li>
                        <li class="bg-almendra-suave">
                            <a href="/app/views/contacto.html" class="menu-link">
                                <div class="icon text-canela-tostada">
                                    <i class="fa-solid fa-address-book"></i>
                                </div>
                                <div class="text">
                                    Contacto
                                </div>
                            </a>
                        </li>
                        <li class="bg-almendra-suave">
                            <a href="/app/views/sobre-nosotros.html" class="menu-link">
                                <div class="icon text-canela-tostada">
                                    <i class="fa-solid fa-shop"></i>
                                </div>
                                <div class="text">
                                    Sobre nosotros
                                </div>
                            </a>
                        </li>

                    </ul>
                </nav>
            </main>
            <footer class="footer bg-black">
                <p class="inter light-16 text-white">Derechos Reservados ©Checon’t - 2025 ®</p>
                <nav class="social">
                    <ul>
                        <li><a href="https://www.facebook.com"><img src="/public/icons/icon-facebook.png"
                                alt="Link facebook"></a>
                        </li>
                        <li><a href="https://www.instagram.com"><img src="/public/icons/icon-instagram.png"
                                alt="Link Instragram"></a>
                        </li>
                        <li class="border-white"><a href="https://www.x.com"><img src="/public/icons/icon-x.png"
                                alt="Link x"></a>
                        </li>
                    </ul>
                </nav>
            </footer>
        <script src="script.js"></script>
    </body>
</html>