<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../../public/css/reset.css">
    <link rel="stylesheet" href="../../public/css/header.css">
    <link rel="stylesheet" href="../../public/css/menu.css">
    <link rel="stylesheet" href="../../public/css/footer.css">
    <link rel="stylesheet" href="../../public/css/colors.css">
    <link rel="stylesheet" href="../../public/css/fonts.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>

<body>
    <header class="header bg-black text-white">
        <h1 class="jomolhari regular-20">LA GATA MANGIONA</h1>
        <nav>
            <ul>
                <li><a class="jomolhari regular-20 text-white" href="/app/views/index.html">Inicio</a></li>
                <li><a class="jomolhari regular-20 text-white" href="/app/views/contacto.html">Contacto</a></li>
                <li><a class="jomolhari regular-20 text-white" href="/app/views/sobre-nosotros.html">Sobre nosotros</a>
                </li>
                <li><a class="jomolhari regular-20 text-white" href="carrito.html"><img
                            src="../../public/icons/cart-shopping-fast.png" alt="Icono de carrito-compra"></a></li>
            </ul>
        </nav>
    </header>

    <main class="blur-overlay">
        <div class="cards-container">
            <div class="card">
                <img src="../../public/img/pizza4.jpg" alt="Pizza 1">
                <div class="card-content">
                    <h3>Margherita</h3>
                    <p>Descubre la auténtica esencia de Italia con nuestra Pizza Margherita, un clásico napolitano que
                        enamora con su sencillez y sabor inigualable.</p>
                    <button>¡Me lo llevo!</button>
                </div>
            </div>
            <div class="card">
                <img src="../../public/img/pizza5.jpg" alt="Pizza 2">
                <div class="card-content">
                    <h3>Diavola</h3>
                    <p>Déjate seducir por el sabor intenso de nuestra Pizza Diavola, una opción perfecta para los
                        amantes de los sabores picantes.</p>
                    <button>¡Quiero esa!</button>
                </div>
            </div>
            <div class="card">
                <img src="../../public/img/pizza6.jpg" alt="Pizza 3">
                <div class="card-content">
                    <h3>Boscaiola</h3>
                    <p>Sumérgete en los sabores rústicos de nuestra Pizza Boscaiola, una verdadera delicia para los
                        amantes de la cocina tradicional italiana.</p>
                    <button>¡Dame esa!</button>
                </div>
            </div>
            <div class="card">
                <img src="../../public/img/pizza7.jpg" alt="Pizza 4">
                <div class="card-content">
                    <h3>Prosciutto e Funghi</h3>
                    <p>Nuestra Pizza Prosciutto e Funghi es un verdadero clásico que combina la delicadeza de los
                        sabores italianos en cada bocado.</p>
                    <button>¡La quiero!</button>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer bg-black">
        <p class="inter light-16 text-white">Derechos Reservados ©Checon’t - 2025 ®</p>
        <nav class="social">
            <ul>
                <li><a href="https://www.facebook.com"><img src="../../public/icons/icon-facebook.png"
                            alt="Link facebook"></a>
                </li>
                <li><a href="https://www.instagram.com"><img src="../../public/icons/icon-instagram.png"
                            alt="Link instagram"></a>
                </li>
                <li><a href="https://www.x.com"><img src="../../public/icons/icon-x.png" alt="Link x"></a>
                </li>
            </ul>
        </nav>
    </footer>
</body>

</html>