<html lang="es">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;
        1,14..32&family=Jacques+Francois&family=Jomolhari&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre nosotros</title>
</head>

<body>
    <header>
        <h1>LA GATA MANGIONA</h1>
        <nav>
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="menu.html">Menu</a></li>
                <li><a href="contacto.html">Contacto</a></li>
                <li><a href="carrito.html"><img src="#" alt="Icono de carrito-compra"></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <img src="#" alt="Imagen de una pizza">
        </div>
        <div>
            <h1>Sobre nosotros</h1>
            <p>
                En <strong>La Gata Mangiona</strong> estamos especializados en
                la auténtica pizza napolitana, elaborada a partir de una receta
                que se ha transmitido a través de cinco
                generaciones de pizzaioli.
            </p>
            <div>
                <section>
                    <h2>Mision</h2>
                    <p>
                        Nuestra misión es ofrecer a nuestros clientes una experiencia
                        gastronómica única, combinando la tradición de la pizza napolitana
                        con ingredientes frescos y de alta calidad.
                    </p>
                </section>
                <section>
                    <h2>Vision</h2>
                    <p>
                        Expandir nuestra pasión por la cocina italiana, creando
                        un espacio donde las personas disfruten momentos
                        inolvidables en torno a una pizza artesanal.
                    </p>
                </section>
            </div>
        </div>
    </main>
    <footer>
        <p>Derechos Reservados ©Checon’t - 2025 ®</p>
        <nav>
            <ul>
                <li><a href="#"><img src="#" alt="Link facebook"></a></li>
                <li><a href="#"><img src="#" alt="Link instagram"></a></li>
                <li><a href="#"><img src="#" alt="Link x"></a></li>
            </ul>
        </nav>
    </footer>
</body>

</html>