<html lang="es">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;
        1,14..32&family=Jacques+Francois&family=Jomolhari&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../../public/css/reset.css">
    <link rel="stylesheet" href="../../public/css/sobre-nosotros.css">
    <link rel="stylesheet" href="../../public/css/header.css">
    <link rel="stylesheet" href="../../public/css/footer.css">
    <link rel="stylesheet" href="../../public/css/colors.css">
    <link rel="stylesheet" href="../../public/css/fonts.css">
    <link rel="stylesheet" href="../../public/css/sobre-nosotros-responsive.css">
    <link rel="stylesheet" href="../../public/css/carrito.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre nosotros</title>
</head>

<body>
    <header class="header bg-black text-white">
        <h1 class="jomolhari regular-20">LA GATA MANGIONA</h1>
        <nav>
            <ul>
                <li><a class="jomolhari regular-20 text-white" href="/app/views/index.html">Inicio</a></li>
                <li><a class="jomolhari regular-20 text-white" href="menu.html">Menu</a></li>
                <li><a class="jomolhari regular-20 text-white" href="/app/views/contacto.html">Contacto</a></li>
                <li><a id="carrito_btn" class="jomolhari regular-20 text-white" href="#"><img
                            src="../../public/icons/cart-shopping-fast.png" alt="Icono de carrito-compra"></a></li>
            </ul>
        </nav>
    </header>
    <main class="main bg-almendra-suave">
        <div class="img-container">
            <img src="../../public/img/pizza2.jpeg" alt="Imagen de una pizza">
        </div>
        <div class="text-container">
            <h1 class="inter regular-56">Chi siamo</h1>
            <p class="text inter regular-24">
                En <strong class="inter bold-24">La Gata Mangiona</strong> estamos <br> especializados en
                la auténtica pizza <br> napolitana, elaborada a partir de una receta <br>
                que se ha transmitido a través de cinco
                generaciones de pizzaioli.
            </p>
            <div class="text-sections">
                <section class="section bg-marfil-suave">
                    <h2 class="inter semi-bold-20">Mision</h2>
                    <p class="inter light-italic-16">
                        Ofrecer a nuestros clientes la auténtica experiencia de la pizza italiana,
                        elaborada con, recetas tradicionales<br> y una pasión <br> inigualable.
                    </p>
                </section>
                <section class="section bg-marfil-suave">
                    <h2 class="inter semi-bold-20">Vision</h2>
                    <p class="inter light-italic-16">
                        Expandir nuestra pasión por la cocina italiana, creando
                        un espacio donde las personas disfruten momentos
                        inolvidables en torno a una pizza artesanal.
                    </p>
                </section>
            </div>
        </div>
        <nav id="carrito_cnt" class="carrito-container bg-marfil-suave inter regular-24">
            <h2>Carrito de compras</h2>
            <h3 class="inter regular-20">Fecha y hora de entrega:</h3>
            <div class="date-hour-container bg-marfil-suave">
                <span class="text-date">14 abril 2020, 10:00 a.m.</span>
                <img src="/public/icons/icon-calendar-hour.png" alt="Icono calendario-hora" class="icon-date-hour">
            </div>
            <div class="pizza-container bg-marfil-suave">
                <div class="item-img">
                    <img src="/public/img/pizza4.jpg">
                </div>
                <div class="item-details">
                    <div class="text-info">
                        <p class="pizza-name">Margherita</p>
                        <p class="pizza-description">Un clásico napolitano</p>
                    </div>
                    <div class="cant-control">
                        <button class="btn-dis">-</button>
                        <span class="cant"> 3 piezas</span>
                        <button class="btn-aum">+</button>
                    </div>
                </div>
                <div class="price-trash">
                        <p class="price">$250.00</p>
                        <button class="btn-trash" title="Eliminar">
                            <img src="/public/icons/icon-trash.png" alt="Eliminar producto">
                        </button>
                </div>
            </div>
            <div class="pizza-container bg-marfil-suave">
                <div class="item-img">
                    <img src="/public/img/pizza5.jpg">
                </div>
                <div class="item-details">
                    <div class="text-info">
                        <p class="pizza-name">Diavola</p>
                        <p class="pizza-description">Sabor picante</p>
                    </div>
                    <div class="cant-control">
                        <button class="btn-dis">-</button>
                        <span class="cant"> 1 piezas</span>
                        <button class="btn-aum">+</button>
                    </div>
                </div>
                <div class="price-trash">
                        <p class="price">$200.00</p>
                        <button class="btn-trash" title="Eliminar">
                            <img src="/public/icons/icon-trash.png" alt="Eliminar producto">
                        </button>
                </div>
            </div>
            <div class="pizza-container bg-marfil-suave">
                <div class="item-img">
                    <img src="/public/img/pizza6.jpg">
                </div>
                <div class="item-details">
                    <div class="text-info">
                        <p class="pizza-name">Boscaiola</p>
                        <p class="pizza-description">Tradicional italiana</p>
                    </div>
                    <div class="cant-control">
                        <button class="btn-dis">-</button>
                        <span class="cant"> 1 piezas</span>
                        <button class="btn-aum">+</button>
                    </div>
                </div>
                <div class="price-trash">
                        <p class="price">$300.00</p>
                        <button class="btn-trash" title="Eliminar">
                            <img src="/public/icons/icon-trash.png" alt="Eliminar producto">
                        </button>
                </div>
            </div>
            <div class="total-container">
                <div class="total-row">
                    <span class="label">Subtotal:</span>
                    <span class="amount">$750.00</span>
                </div>
                <div class="total-row">
                    <span class="label">IVA:</span>
                    <span class="amount">$0.00</span>
                </div>
                <div class="total-row">
                    <span class="label">Serv. domicilio:</span>
                    <span class="amount">$10.00</span>
                </div>
                <div class="total-row total-final">
                    <span class="label">Total:</span>
                    <span class="amount">$760.00</span>
                </div>
            </div>
            <button class="btn-pagar">Pagar orden</button>
        </nav>
    </main>
    <footer class="footer bg-black">
        <p class="inter light-16 text-white">Derechos Reservados ©Checon’t - 2025 ®</p>
        <nav class="social">
            <ul>
                <li><a href="https://www.facebook.com"><img src="../../public/icons/icon-facebook.png"
                            alt="Link facebook"></a>
                </li>
                <li><a href="https://www.instagram.com"><img src="../../public/icons/icon-instagram.png"
                            alt="Link instagram"></a>
                </li>
                <li><a href="https://www.x.com"><img src="../../public/icons/icon-x.png" alt="Link x"></a>
                </li>
            </ul>
        </nav>
    </footer>
    <script src="../../public/js/carrito.js"></script>
</body>

</html>